.img-menu {
    width: 220px;
    height: 270px;
    display: inline-block;
}

.img-menu-program {
    background-image: url('../Media/Images/program_gray.jpg');
}

    .img-menu-program:hover {
        background-image: url('../Media/Images/program.jpg');
    }

.img-menu-practice {
    background-image: url('../Media/Images/practice_gray.jpg');
}

    .img-menu-practice:hover {
        background-image: url('../Media/Images/practice.jpg');
    }

.img-menu-theory {
    background-image: url('../Media/Images/theory_gray.jpg');
}

    .img-menu-theory:hover {
        background-image: url('../Media/Images/theory.jpg');
    }

.img-menu-question {
    background-image: url('../Media/Images/question_gray.jpg');
}

    .img-menu-question:hover {
        background-image: url('../Media/Images/question.jpg');
    }

.table-menu-index {
    text-align: center;
    width: 100%;
}

.menu-top-item-active {
    text-decoration: none;
    color: #ffffff;
}

.menu-top {
    font-style: italic;
    color: #ffffff;
}