html {
    height: 100%;
}

body {
    height: 100%;
    width: 80%;
    margin: auto;
    border-left: 2px solid;
    border-right: 2px solid;
}

header {
    text-align: center;
}

#menu td {
    border-left: 1px solid;
}

.table-ui {
    width: 100%;
}

#header {
    text-align: center;
}

#footer {
    text-align: center;
    height: 10%;
}
