@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}


<table class="table-menu-index">
    <tbody>
        <tr>
            <td>
                <table>
                    <tbody>
                        <tr>
                            <td class="text-center col-3">
                                <a href="@Url.Action("Index", "Program")" class="text-italic text-bold">
                                    <span class="img-menu img-menu-program"></span>
                                    <div>Программа дисциплины</div>
                                </a>
                            </td>
                            <td class="text-center col-3">
                                <a href="#" class="text-italic text-bold">
                                    <span class="img-menu img-menu-theory"></span>
                                    <div>Теория по курсу</div>
                                </a>
                            </td>
                            <td class="text-center col-3">
                                <a href="#" class="text-italic text-bold">
                                    <span class="img-menu img-menu-practice"></span>
                                    <div>Практика</div>
                                </a>
                            </td>
                            <td class="text-center col-3">
                                <a href="#" class="text-italic text-bold">
                                    <span class="img-menu img-menu-question"></span>
                                    <div>Контроль знаний</div>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-italic">Рабочая программа дисциплины</td>
                            <td class="text-italic">Материалы для теоретического изучения дисциплины</td>
                            <td class="text-italic">Материалы для практических занятий, лабораторного практикума по дисциплине</td>
                            <td class="text-italic">Дополнительные средства для проверки усвоения материала, контроля полученных знаний</td>
                        </tr>
                        <tr></tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>